{% extends 'base/base.html' %}
{% load static %}
{% load django_tables2 %}

{% block title %} - Project members{% endblock title %}
{% block content %}
    <div class="layout">
        {% include 'components/sidebar/project_sidebar.html' %}
        <div class="layout-content">
            <div class="fullpage-form-wrapper">
                <h1>{{ project_name }} members</h1>
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/status_setter.js' %}"></script>
{% endblock scripts %}