{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %} - Signup{% endblock title %}
{% block content %}
    <div class="fullpage-form-wrapper">
        <h1>Sign Up {{ captcha_status }}</h1>
        <form method="post" id="signup-form">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="g-recaptcha-response" id="recaptcha" style="visibility: visible !important;">
            <button class="btn btn-success" type="submit">Sign ip</button>
        </form>
        <div class="btn-group redirect-buttons" role="group">
            <a href="{% url 'login' %}" type="button" class="btn btn-danger">Log in</a>
            <a href="{% url 'password_reset' %}" type="button" class="btn btn-warning">Password reset</a>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
    <script>
        const form = $('#signup-form')
        grecaptcha.ready(function (){
            $(form).one('submit', function(e){
                e.preventDefault()
                grecaptcha.execute('{{recaptcha_site_key}}', {action: 'submit'}).then(function(token) {
                    $('#recaptcha').val(token)
                    $(form).submit()
                });
            })
        })
     </script>
{% endblock scripts %}