<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Issue Tracker{% block title %}{% endblock title %}
    </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/icon_colors.css' %}?{% now 'U' %}">
</head>
<body>
<main>
    <div class="content-wrapper">
        {% block content %}
        {% endblock content %}
        {% block scripts %}
        {% endblock scripts %}
        <script>
            if($(window).width() < 1280  || $(window).width() < 720){
                alert('Content may not scale well on devices with less than 1280px width and 720px height')
            }
        </script>
    </div>
</main>
</body>
</html>